<mat-card class="register-card">
    <mat-card-content>
        <form>
            <h2>Sign Up</h2>    
            <mat-form-field class="input-grp">
                <mat-label>Email</mat-label>
                <input matInput placeholder="email">
            </mat-form-field>
            <mat-form-field class="input-grp">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field class="input-grp">
                <mat-label>Confirm password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="confirm password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <button mat-raised-button>Sign Up</button>
        </form>
    </mat-card-content>
</mat-card>
<div *ngIf="loading" class="loader center">
    <mat-spinner></mat-spinner>
</div>