/* .login-container mat-form-field + mat-form-field {
    margin-left: 8px;
} */
.login-card{
    background-color: whitesmoke;
}
form{
    display: flex;
    flex-direction: column;
    min-width: 360px;
    min-height: 300px;
    justify-content: center;
    align-items: center;
}
.input-grp{
    /* background-color: white; */
    width: 90%;
}
.mat-mdc-form-field-focus-overlay{
    background-color: white;
}

